body {
			font-size: 11px;
		}

		.container {
			border: 1px solid #808080;
			width: 450px;
		}
		ul {
			line-height: 2rem;
			list-style: none;
		}
		.span_red {
			color: #ad3000;
			font-weight: 900;
			font-size: 1.2rem;
		}
    .p-align {
      /* 텍스트의 정렬 방향을 지정하는 속성 */
       text-align: right;
}  
 	
 