.img-float1 {
  float:left;
}
.img-float2 {
 
  clear: both;
}

ul {
  list-style-type: none;
}

li {
  float: left;
  background-color: aliceblue;
  width: 120px;
  height: 80;
  text-align: center;
  line-height: 80px;
}